html,
body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

/* Control for bottom modal fade */
.fade {
    transition: opacity 0.35s linear;
}

.rainbow-box {
    width: 80vw;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.modal-title {
    margin: 0;
    padding-left: 40%;
    line-height: 1.42857143;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding-left: 40%;
  /*  padding-top: 15px; */
  /*  padding-right: 15px; */
  /*  padding-left: 300px; */
  /*  padding-bottom: 15px; */
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}


h3 {
  margin: 0;
  font-size: 1.5em;
}

h5 {
  margin: 0;
  font-size: 1.25em;
  font-weight: normal;
}

h6 {
  margin: 0;
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
}

.leaflet-control-custom {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  color: #333;
  border-radius: 5px;
}


form {
  margin-top: 2px;
}

.leaflet-popup-content {
  min-width: 150px;
}

.leaflet-popup-content img {
  width: 100%;
  margin: 5px 0 5px 0;
}

.geojson-point-marker {
  radius: 3;
}

.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #000;
  text-indent: -9999em;
  position: absolute;
  left: 50vw;
  top: 45vh;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Technically there are two map titles, on the left and on the right,
 * at all times. On a big screen, map title in the right column is not
 * displayed. On a mobile device, title in the right column is shown with 0
 * opacity, so that search, locate, and zoom buttons do not overlay the title,
 * creating an effect as if the title is located on top, and not the left column.
 */
.leaflet-right .map-title { display: none; }

@media only screen and (max-width: 760px) {
  .leaflet-right .map-title {
    display: block;
    opacity: 0;
  }

  .leaflet-left .map-title {
    width: 98%;
  }
}

.markers-legend-icon {
  height: 12px;
  vertical-align: middle;
}

.map-title {
  margin-top: 0 !important;
  margin-bottom: 10px;
  max-width: 450px;
}

.leaflet-top.leaflet-left {
  padding-top: 10px;
}

/* Map Table */
div.dataTables_scrollBody {
  border: 0 !important;
}

div.dataTables_scrollHead {
  color: #eee !important;
}

.dataTable * {
  font-family: "Helvetica Neue", Arial;
  border: 0 !important;
}

div.dataTables_scrollHead table.display {
  background-color: #444;
  color: #eee;
}

select {
  font-size: 1.2em;
  font-weight: bold;
}

.div-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

span.legend-arrow {
  color: rgb(238, 238, 238);
  position: absolute;
  right: 8px;
  top: 5px;
}

span.legend-icon {
  color: #bbb;
  margin-right: 5px;
}

.ladder {
  width: 115px;
  margin-top: 0 !important;
  overflow: hidden;
}

.ladder h6.minimize ~ div,
.ladder h6.minimize ~ form,
.ladder h6.minimize ~ section {
  display: none !important;
}

.ladder form, .ladder div {
  display: block;
}
